
.container{
    height: 150vh;
    width: 70%;
    border: 2px solid black;
    box-shadow: 5px 5px 5px grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px auto;
}

.circle{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 5px solid black;
    margin: 50px auto;
    margin-top: -500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.round{
    height: 70px;
    width: 70px;
    border:11px solid black;
    border-radius: 50%;
    position: relative;
    margin-left: 100px;
    animation: rotate 0.7s linear infinite;
}  

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    
}
.round img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}
.wing1{
    height:50px;
    width: 90px;
    background-color: black;
    border: 2px solid black;
    border-radius: 50px 0px 50px;
    margin-left: 59px;
    transform: rotate(60deg);
    margin-top: 70px;
}
.wing2{
    height:50px;
    width: 90px;
    background-color: black;
    border: 2px solid black;
    border-radius: 50px 0px 50px;
    margin-left: -10px;
    transform: rotate(120deg);
    margin-top: -210px;
}
.wing3{
    height:50px;
    width: 90px;
    background-color: black;
    border: 2px solid black;
    border-radius: 50px 0px 50px;
    margin-left: -70px;
    transform: rotate(170deg);
    margin-top: 110px;
}
.pipe{
    height: 190px;
    width: 30px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: var(-10px);
    position: relative;
    top: 114%;
    left: -11%;
    transform: translate(-50%, -50%);
}
.stand
{
    height: 60px;
    width: 150px;
    border-radius: 0%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 114%;
    left: -32%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
.btn{
    position: relative;
    top: 300px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
button{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    background-color: black;
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-top: -32px;
}

